
<div class="hero"><div class="hero-bg">
	<div class="hero-content">
		<div class="hero-title0">Parent Header</div>
		<h1 class="hero-title1">Header Title</h1>
		<p class="hero-subtitle">Lorem ipsum dolor sit amet consection.</p>
	</div>
</div></div>
