<div class="main-header columns">

	<div class="column medium-6 small-10">
		<div class="main-header-title">
			<h1><a href="/">Ranktt</a></h1>
			<div class="main-header-subtitle"><h2>Trusted Talent</h2></div>
		</div>
	</div>

	<div class="column medium-6 small-2">
		{{!-- If small screen: show icon + dropdown for nav --}}
		<a href="#" class="nav-toggle show-for-small-only" title="Show Menu"></a>
		<div class="nav-toggle-target show-for-medium-up">
			{{> nav}}
		</div>
	</div>


	<div class="clear">&nbsp;</div>
</div>