<div class="main-footer">

	<div class="footer-links"><div class="main-footer-content">
		<ul>
			<li><a href="#">Help Center</a></li>
			<li><a href="#">About</a></li>
			<li><a href="#">Careers</a></li>
			<li><a href="#">Advertising</a></li>
			<li><a href="#">User Agreement</a></li>
			<li><a href="#">Privacy Policy</a></li>
			<li><a href="#">Contact</a></li>
		</ul>
	</div></div>

	<div class="footer-legal"><div class="main-footer-content">
		Rankt and Rankt.com &copy; 2016 Fantasy Inc. All rights reserved.
	</div></div>

</div>
