<div class="main-header columns">

	<div class="column medium-7 small-11">
		<div class="main-header-title">
			<h1><a href="/">Rankt</a></h1>
			<div class="main-header-subtitle"><h2>Dulce tagline here</h2></div>
		</div>
	</div>

	<div class="column medium-5 small-1">
		{{!-- If small screen: show icon + dropdown for nav --}}
		<div class="show-for-small-only">
			[menu icon]
		</div>
		<div class="show-for-medium-up">
			{{> nav}}
		</div>
	</div>

</div>