
<div class="nav">
	<ul>
		<li class="nav-item"><a href="/">Nav 01</a></li>
		<li class="nav-item"><a href="/">Nav 02</a></li>
		<li class="nav-item"><a href="/">Nav 03</a></li>
		<li class="nav-item"><a href="/">Nav 04</a></li>
	</ul>
</div>