
<div class="nav">
	<ul>
		<li class="nav-item"><a href="/rubric">Algorithm</a></li>
		<li class="nav-item"><a href="#">Blog</a></li>
		<li class="nav-item"><a href="#">Contact Us</a></li>
	</ul>
</div>