
<div class="nav">
	<ul>
		<li class="nav-item show-for-small-only"><a href="/">Home</a></li>
		<li class="nav-item"><a href="/rubric">How It Works</a></li>
		{{!<li class="nav-item"><a href="/about">About</a></li>}}
		{{!<li class="nav-item"><a href="/team">Team</a></li>}}
		<li class="nav-item"><a href="/contact">Contact Us</a></li>
	</ul>
</div>