
<div class="search-controls">
	<span class="search-header-text">Top</span>
	{{>custom-dropdown placeholder='Select a role...' items=roleOptions default=roleOptionsDefault }}
	{{>custom-dropdown placeholder='Specialty...' items=subroleOptions }}
	<span class="search-header-text">in</span>
	{{>custom-dropdown placeholder='Los Angeles, CA' }}
</div>
