
<div class="search-controls">
	<span class="search-header-text">Top</span>
	{{>custom-dropdown placeholder='Select a role...' items=roleOptions default=roleOptionsDefault class='search-control search-control-role' }}
	{{>custom-dropdown placeholder='Specialty...' items=subroleOptions class='search-control search-control-subrole' }}
	<span class="search-header-text">in</span>
	{{>custom-dropdown placeholder='Los Angeles, CA' class='search-control search-control-location' }}
</div>
