
<div class="slack-signup">
	<div class="slack-signup-intro">Fill out the form below and we'll send you an invite!</div>
	<div class="slack-singup-form">
		<input class="slack-signup-input input01" type="text" name="first_name" placeholder="First Name" />
		<input class="slack-signup-input input01" type="text" name="last_name" placeholder="Last Name" />
		<input class="slack-signup-input input01" type="text" name="email" placeholder="Email" />
		<a class="slack-signup-submit btn01">Request Invite</a>
	</div>
	{{!-- @todo: Download slack link, use their icon, see if have affiliate deal --}}
</div>
