<!doctype html>
<html>
<head>
<meta charset="utf-8" />
<meta name="robots" content="noindex" />
<title>{{title}}</title>
<style type="text/css">
body {
	padding: 2em 3em;
	font-size: 12px;
	font-family: arial,sans-serif;
	text-align: center;
	background: #f0f0f0;
}
</style>
</head>
<body>
{{title}}


<div>
	<style type="text/css" scoped="scoped">
		.wydlinks {
			margin-top: 30px;
			height: 97vh;
		}
		.wydlinks-links {
			margin-bottom: 30px;
		}
		.wydlinks-links-link {
		}
		.wydlinks-note {
			font-size: 90%;
			margin-bottom: 0.6em;
		}
		.wydlinks iframe {
			width: 80%;
			height: 80%;
			border: none;
			overflow-x: hidden;
			overflow-y: scroll;
		}
	</style>
	<div class="wydlinks">
		<!--<div class="wydlinks-links">
			<a class="wydlinks-links-link" href="/admin">Go to Admin</a>
		</div>-->
		<div class="wydlinks-note">
			Note: You must be logged in to your Google account to view the links below
		</div>
		<iframe src="https://docs.google.com/document/d/1dBRv3FGN_zpKMjF67HpIeuwdAowiHVSOjGTTR0zAeJ0/view" frameborder="0"></iframe>
	</div>
</div>

</body>
</html>