
{{>hero title0="Crowdranktt" title1="Top Experts in Los Angeles" title2="Welcome to ranktt.com"}}

<div class="main-content columns ranked-page">

	<div class="main-2col-left column medium-9">
		{{>search this.search}}
	</div>

	<div class="main-2col-right column medium-3">
		{{>sidebar}}
	</div>

	<div class="clear">&nbsp;</div>
</div>