
{{>hero}}

<div class="main-content columns ranked-page">

	<div class="main-2col-left column medium-9">
		{{>search this.search}}
	</div>

	<div class="main-2col-right column medium-3">
		<img class="SAMPLE-sidebar-content" src="/images/SAMPLE-sidebarcontent-01.jpg" alt="" />
		<img class="SAMPLE-sidebar-content" src="/images/SAMPLE-sidebarcontent-02.jpg" alt="" />
		<img class="SAMPLE-sidebar-content" src="/images/SAMPLE-sidebarcontent-03.jpg" alt="" />
	</div>

	<div class="clear">&nbsp;</div>
</div>