{{!--
	Deviations from copy sent from Bryan Cave tagged with #edit
--}}

<div class="main-content columns legal">

	<h1>Copyright Infringement Claims Procedure</h1>
	<div class="legal-subheader">
		Last Updated: May 26, 2016
	</div>

	<div class="sec">
		<p>We may remove, suspend, terminate access or take other appropriate action against repeat offenders. We may also remove content that, in our sole discretion, appears to infringe the intellectual property rights of others. If you have evidence, know or have a good faith belief that content on or available through the website infringes a copyright which you own or for which you are a designated agent, please send a notice of infringement by {{!-- #edit fax, --}}email or regular mail that includes the following information:</p>
		<ol>
			<li>Identify the copyrighted work claimed to have been infringed. If multiple copyrighted works are covered by a single notice, provide a representative list of such works.</li>
			<li>Identify the material that is claimed to be infringing or to be the subject of infringing activity. Include information reasonably sufficient to permit us to locate the material. Please provide a URL and screenshots for each item. Include the specific asset(s) or page(s) that you claim to be infringing. State &quot;entire work&quot; only if all assets/pages in a collection/document are infringing.</li>
			<li>Include details of your claim to the material, or your relationship to the material's copyright holder.</li>
			<li>Provide your full name, address, and telephone number in case we need to clarify your claim.</li>
			<li>Provide a working email address where we can contact you to confirm your claim.</li>
			<li>If true, include the following statement: &quot;I have a good faith belief that use of the copyrighted materials described in this notification is not authorized by the copyright owner, its agent or the law.&quot;</li>
			<li>If true, include the following statement: &quot;I swear, under penalty of perjury, that the information in this notification is accurate and that I am the copyright owner or am authorized to act on behalf of the copyright owner to make this complaint.&quot;</li>
		</ol>
		<p>Sign the notification, physically or electronically, and send the notification to our designated Copyright Agent to receive notifications of claimed infringement by one of the following means:</p>
		<address>
			Copyright Agent<br />
			WYD Agency, LLC <br />
			1318 16th St, #205<br />
			Santa Monica, CA 90404 USA
		</address><br />
		{{!-- #edit Fax: ...<br /><br />--}}
		Email: legal@ranktt.com<br /><br />
		<p>We will review your claim, determine its merit and act accordingly. Please note that if you fail to comply with all of the requirements of these procedures, your notice may not be valid and we may not remove the infringing material. Please also note that you may be liable for damages, including without limitation costs and attorneys' fees, under the Digital Millennium Copyright Act (DMCA) if you knowingly materially misrepresent that material on this website infringes upon your copyright.</p>
	</div>

</div>
