{{!--
	Deviations from copy sent from Bryan Cave tagged with #edit

	IMPORTANT: From josh.james@bryancave.com: please look this over really carefully and make sure it matches your practices.  That's where real risk is created here.
--}}

<div class="main-content columns legal">

	<h1>Privacy Policy</h1>
	<div class="legal-subheader">
		{{!-- #edit Added "Last Updated" --}}
		Effective Date: May 26, 2016<br />
		Last Updated: May 26, 2016
	</div>

	<div class="sec">
		<p>ranktt.com (&quot;we,&quot; &quot;us,&quot; &quot;our,&quot; or &quot;ranktt.com&quot;), takes privacy seriously. We know you care about how your information is used and shared.  The purpose of this Privacy Policy (the &quot;Policy&quot;) is for you (the &quot;User&quot;) to understand how we collect and use the personal information you provide to us through ranktt.com (the &quot;Website&quot;).</p>
		<p>This Privacy Policy applies to information collected by ranktt.com and does not apply to information collected by any third-party sites to which ranktt.com may link or to information provided to, or collected by, third-parties through third-party cookies, web beacons, or other third-party technologies served during your visit to the Website.
		{{!-- #edit This next bit was an incomplete sentence sent from Bryan Cove, but we don't have the $$ right now to ask what it was supposed to be...
		This policy does not apply to
		--}}</p>
		<p>By using the Website, you agree to be bound by the terms of this Privacy Policy.</p>
	</div>

	<div class="sec">
		<h2>Information We Collect</h2>

		<h3>Personal Information</h3>
		<p>We collect both personal and non-personal information. For the purpose of this Policy, when we use the term &quot;Personal Information&quot; we mean information that we collect from you in conjunction with a name. This may include a first and last name and:</p>
		<ul>
			<li>an email address,</li>
			<li>a phone number,</li>
			<li>home address,</li>
			<li>or other information about you that you provide directly to us through the Website.</li>
		</ul>
		<p>We only collect Personal Information through the Website that you share with us directly, for example by submitting a form or registering an account</p>

		<h3>Collected Information</h3>
		<p>When we use the term &quot;Collected Information&quot; we mean information other than Personal Information that we (either directly or through our service providers) collect whenever you visit the Website.</p>
		<p>For example, when you visit ranktt.com, our systems, or those of our service providers, may automatically recognize the date and time of visits, the type of browser you use, the website from which your visit originated, page visits, time spent on web pages, the subject of links clicked or scrolled over and other data that we collect automatically.</p>

		<h3>Geolocation</h3>
		<p>The Website does not collect any geolocation data.</p>

		<h3>Combining Information</h3>
		<p>We may combine your Personal Information and Collected Information.  We may also obtain information about you from our affiliates or other outside sources and combine it with your Personal Information and Collected Information.</p>

		<h3>Candidate Information</h3>
		<p>Much of the information about professionals (or &quot;Candidates&quot;) displayed on the Website (&quot;Candidate Information&quot;) is drawn from other sources of information including other websites, from personal contact lists, from resumes submitted to us, etc. <em>This Candidate Information is not covered by this privacy policy.</em></p>
	</div>


	<div class="sec">
		<h2>How We Use Information We Collect</h2>
		<p>We use your information:</p>
		<ul>
			<li>to provide services to you,</li>
			<li>for administrative purposes,</li>
			<li>to improve our services,</li>
			<li>to contact you, and</li>
			<li>for internal business purposes.</li>
		</ul>
		<p>We may use your email address to send you news and information about our company and services that might be of interest to you.  You can unsubscribe from those emails by following instructions contained in the messages you receive.</p>
		<p>We may also use anonymous information, such as information pertaining to web or mobile pages you have viewed, in order to analyze trends, track user's movements, provide a better user experience, and gather demographic information for aggregate use.</p>
	</div>

	<div class="sec">
		<h2>How We Share The Information We Collect</h2>

		<h3>Our Service Providers</h3>
		<p>We may share your Personal Information with third-parties that perform services for us. Third-party service providers may, among other things:</p>
		<ul>
			<li>help us to provide services that you request,</li>
			<li>prepare and distribute communications, or</li>
			<li>respond to questions.</li>
		</ul>
		<p>We may also share Collected Information with certain third-party service providers to:</p>
		<ul>
			<li>operate the Website,</li>
			<li>provide general statistics regarding the use of the Website,</li>
			<li>analyze and develop our business strategy,</li>
			<li>determine how you found out about us,</li>
			<li>determine your interests regarding our services,</li>
			<li>help improve our Website,</li>
			<li>create marketing programs, and</li>
			<li>for other purposes.</li>
		</ul>

		<h3>Third Parties</h3>
		<p>If you choose to contact a Candidate, we will share your email address and message with the Candidate to facilitate communication.</p>

		<h3>Law Enforcement and Legal Process</h3>
		<p>We may report to law enforcement agencies any activities that we believe to be unlawful. We may also report any activities that we believe may aid a law enforcement investigation into unlawful activity. We reserve the right to release your information to law enforcement agencies if we determine, in our sole judgment, that the release of your information may protect the rights, property, or safety of ranktt.com or another person.</p>

		<h3>Marketing</h3>
		<p>In the future we may share Personal Information, including email, with marketing partners in order to offer you exclusive deals or promotions that we believe would be of interest to you.  At this time we do not share Personal Information for marketing purposes.</p>

		<h3>Sharing Your Information as Permitted by Law</h3>
		<p>We may also share your information with others as required by law. We may also share your information with others as permitted by law. This may include sharing your information with government entities or third-parties in response to subpoenas, court orders, and other legal process. We may also share your information if we believe it is necessary to exercise our legal rights, to defend against legal claims that have been brought against us, or to defend against possible legal claims that we determine might be brought against us.</p>

		<h3>Business Transition</h3>
		<p>As we continue to develop our business, we may buy, merge or partner with other companies. If a portion or all of ranktt.com's assets are sold or transferred to a third-party, Personal Information (including your email address) would likely be one of the transferred business assets.</p>
	</div>

	<div class="sec">
		<h2>Security</h2>
		<p>We take reasonable and appropriate measures to help keep information secure and to help prevent it from becoming disclosed.  Even though we follow reasonable procedures to try to protect the information in our possession, no security system is perfect so we cannot promise, and you should not expect, that your information will be secure in all circumstances.</p>
	</div>

	<div class="sec">
		<h2>How We Communicate With You</h2>
		<p>If you have any questions about our privacy policy, you can contact us by emailing us at support@ranktt.com. If we need, or are required, to contact you concerning any event that involves your information, you agree that we may do so by email, telephone, or mail.</p>
	</div>

	<div class="sec">
		<h2>Your California Privacy Rights</h2>
		<p>We do not collect personal information through the Website for third parties' marketing purposes.</p>
	</div>

	<div class="sec">
		<h2>Miscellaneous</h2>

		<h3>Do Not Track Signals</h3>
		<p>Some web browsers and devices allow you to broadcast a preference that your activities online not be &quot;tracked&quot;.  We honor do not track signals and do not install cookies when a Do Not Track signal is received.</p>

		<h3>Children</h3>
		<p>We do not provide products and services to children. We do not knowingly collect or solicit information from children under the age of 13.</p>

		<h3>Changes to the Privacy Policy</h3>
		<p>We reserve the right to modify or amend this policy at any time by posting the revised privacy policy on our Website. Material changes will only affect the information we collect after the effective date of the change to our privacy policy unless we clearly express otherwise.</p>

		<h3>Changing Information</h3>
		<p>You may request that we delete, change, or modify your Personal Information that ranktt.com holds.  However, we cannot guarantee comprehensive deletion or modification of your Personal Information provided on our Website.  For additional assistance with modifying or deleting your Personal Information, contact us at support@ranktt.com.</p>

		<h3>Contacting Us</h3>
		<p>If there are any questions regarding this privacy policy you may contact us using the information below.</p>
		<address>
			ranktt.com<br />
			1318 16th St, #205<br />
			Santa Monica, CA 90404<br />
			USA<br />
			support@ranktt.com<br />
		</address>
	</div>

</div>
