{{!--
	Deviations from copy sent from Bryan Cave tagged with #edit
--}}

<div class="main-content columns legal">

	<h1>Terms of Use</h1>
	<div class="legal-subheader">
		Last Updated: May 26, 2016
	</div>

	<div class="sec">
		<h2>1. Acceptance</h2>
		<p>Please read these Terms of Use (the &quot;Terms&quot;) carefully because they are legally binding on you when you access the website ranktt.com (the &quot;Site&quot;). The term &quot;Site&quot; also includes all content and services available on Site. Site visitors are referred to herein as &quot;you&quot;; if you are visiting this Site on behalf of an entity or organization, &quot;you&quot; also means that entity or organization. The Site is owned and operated by WYD Agency LLC (&quot;WYD&quot; or &quot;we&quot;).</p>
		<p>BY ACCESSING OR USING ANY PART OF THE SITE, YOU AGREE THAT YOU HAVE READ AND UNDERSTAND THESE TERMS AND AGREE TO THESE TERMS, INCLUDING THE ARBITRATION AGREEMENT, WAIVER OF CLASS-ACTION RIGHTS AND LIABILITY LIMITATIONS.  IF YOU DO NOT AGREE TO THESE TERMS, YOU ARE NOT PERMITTED TO ACCESS OR USE THE SITE. IF YOU DISAGREE WITH ANY PROVISION OF THE TERMS OR OUR <a href="/privacy-policy">PRIVACY POLICY</a>, YOU MUST EXIT THE SITE.</p>
	</div>

	<div class="sec">
		<h2>2. Eligibility</h2>
		<p>To use the Site, you must be, and represent and warrant that you are, of legal age (18 years of age or older) and competence. If you use our Site, you are representing and warranting to us that you have full power and authority to enter into and comply with these Terms, and that these Terms are binding on you and enforceable against you.  By using the Site on behalf of any third party, you are representing and warranting to us that you are an authorized representative of that third party and that your use of the Site constitutes such third party's agreement to these Terms. You represent and warrant that your agreement to and compliance with these Terms does not and will not breach or conflict with any other agreement or arrangement you have with someone else or otherwise violate the law. In addition, if you have previously been prohibited from accessing the Site, you are not permitted to access the Site.</p>
	</div>

	<div class="sec">
		<h2>3. Rankings</h2>
		<p>We rank software developers using a proprietary algorithm. However, on the Site we have disclosed some details about the factors and sources of information used to generate the rankings. For more information, please visit our <a href="/rubric">Algorithm Breakdown</a>. Our ranking of a software developer is not an endorsement of any particular software developer and is not a guarantee of the person's quality, competency or character. Our ranking of a software developer is not a predictor of the outcome of any matter in which such person is involved. You should not rely solely on our ranking in deciding whether to contact, hire or engage any given software developer.</p>
	</div>

	<div class="sec">
		<h2>4. Information On The Site</h2>
		<p>Our Site displays information not created or developed by WYD (such as information posted by software developers). We may review third party-content to determine whether it is illegal or violates our policies, and we may remove or refuse to display content that we reasonably believe violates our policies or the law. However, we do not routinely screen third-party content that is published on our Site. We cannot guarantee the accuracy, adequacy or quality of any such information, or the qualifications of those posting it.</p>
	</div>

	<div class="sec">
		<h2>5. Facilitation Services</h2>
		<p>You may request that we contact a software developer. If you do so, we may contact the software developer for you and charge you a service fee for such facilitation. We will not charge you a service fee without your express acceptance of the fee. Additionally, we may require that you enter into other terms and conditions prior to performing facilitation services for you. For example, prior to contacting a software developer, we may require that you agree to pay us a percentage of the fees paid to the software developer if you engage that person. However, we are not the employer or staffing agency of any software developer—we are an intermediately only. We do not make any representation, warranty, promise or guarantee regarding any software developer. You agree that WYD cannot be held responsible for the quality or accuracy of any information or services provided by software developers you connect with via the Site. You will defend and indemnify us from any claim by a software developer that you failed to pay that software developer or fulfill any other obligation to that software developer.</p>
	</div>

	<div class="sec">
		<h2>6. User Content</h2>
		<p><span class="tos-subsec-number">6.1</span><span class="tos-subsec-title">User Content.</span> By sharing, submitting and uploading any photos, video, data or other content (&quot;User Content&quot;), you grant WYD a worldwide, perpetual, irrevocable, non-exclusive, royalty-free, sublicensable and transferable license and right (but not the obligation) to use, reproduce, distribute, prepare derivative works of, display, transmit and perform your User Content, and any derivative works thereof, in any legal manner or medium, now known or hereafter devised, for the benefit of WYD. Additionally, you further grant WYD a worldwide, perpetual, irrevocable, non-exclusive, royalty-free,  sublicensable and transferable license and right (but not the obligation) to display and otherwise exploit your name, alias (e.g., a username or custom emblem), likeness, personality, voice and any other materials or information you submit to WYD in connection with your User Content.  For clarity, you retain all of your ownership rights in your User Content.</p>
		<p><span class="tos-subsec-number">6.2</span><span class="tos-subsec-title">Representations and Warranties Regarding User Content.</span> You acknowledge and agree that you are solely responsible for all the User Content that you make available through the Site.  Accordingly, you represent and warrant that: (a) you have all rights, licenses, consents and releases necessary to grant WYD the rights required to disseminate any User Content; (b) neither your User Content nor your posting, uploading, publication, submission or transmittal of this User Content or WYD's use of your uploaded User Content (or any portion thereof) on, through or by the means of the Site will infringe, misappropriate or violate a third party's patent, copyright, trademark, trade secret, moral rights or other intellectual property rights or rights of publicity or privacy or result in the violation of any applicable law or regulation; (c) your User Content does not contain any material that depicts nudity, is sexually explicit, profane, defamatory or obscene; pertains to violence, discrimination, or illegal activities; or is offensive, harassing, or threatening; and (d) your User Content does not contain or link to any malicious code or content of any kind.</p>
		<p><span class="tos-subsec-number">6.3</span><span class="tos-subsec-title">Responsibility for User Content.</span> You, not WYD, are solely responsible for the information and other User Content you submit to our Site. We do not claim ownership of any of the User Content, except for compilations of your data and contact information that we may create. We are not a backup service and we will not be responsible for loss or corruption of User Content.</p>
		<p><span class="tos-subsec-number">6.4</span><span class="tos-subsec-title">Third-party Use of User Content.</span> By providing us with information or posting information on the Site, you agree that another user of the Site may use that information to contact you.</p>
	</div>

	<div class="sec">
		<h2>7. Site Intellectual Property</h2>
		<p><span class="tos-subsec-number">7.1</span><span class="tos-subsec-title">Ownership.</span> As between you and WYD, WYD owns all right, title and interest in and to the Site, including all features, the look and feel, designs, content, trademarks and domain names, and all intellectual property rights therein and thereto (all of which are part of the term &quot;Site&quot;).</p>
		<p><span class="tos-subsec-number">7.2</span><span class="tos-subsec-title">Use License.</span> Our Site is licensed to you, not sold, so you will not acquire any ownership rights in the Site under these Terms. We grant you a limited, non-exclusive, non-transferable, non-sublicensable and revocable license to access the Site solely for your own needs and solely for as long as we permit. We reserve all rights not expressly granted to you in these Terms.</p>
	</div>

	<div class="sec">
		<h2>8. Privacy Policy</h2>
		<p>For a description of our collection, use, disclosure and protection of your data, please review our <a href="/privacy-policy">Privacy Policy</a>.</p>
	</div>

	{{!-- #edit: Bryan Cave said "We might want to add it to these Terms", but did not provide copy. I made up the bit below --}}
	<div class="sec">
		<h2>9. Opt Out</h2>
		<p>Please contact ranktt.com at support@ranktt.com. We will address opt out requests on a case by case basis.</p>
	</div>

	<div class="sec">
		<h2>10. Disclaimers</h2>
		<p>THE SITE IS PROVIDED &quot;AS IS&quot; AND &quot;AS AVAILABLE&quot;. WE HEREBY DISCLAIM ALL REPRESENTATIONS, WARRANTIES AND GUARANTIES OF ANY KIND, EXPRESS, IMPLIED, STATUTORY OR OTHERWISE, INCLUDING ANY WARRANTIES OF NON-INFRINGEMENT, TITLE, MERCHANTABILITY OR FITNESS FOR A PARTICULAR PURPOSE. WE DO NOT REPRESENT, WARRANT OR GUARANTEE THAT ANY CONTENT PROVIDED ON THE SITE IS COMPLETE, ACCURATE OR UP-TO-DATE. WE DO NOT REPRESENT, WARRANT OR GUARANTEE THAT THE SITE, OR SOFTWARE DEVELOPERS ON THE SITE, WILL MEET YOUR EXPECTATIONS OR REQUIREMENTS OR ACHIEVE ANY PARTICULAR RESULTS. WE DISCLAIM ALL LIABILITY ARISING OUT OF OR RELATED TO INFORMATION PROVIDED TO OR BY SITE USERS. WE DISCLAIM ALL LIABILITY ARISING OUT OF OR RELATED TO THE ACTS OR OMISSIONS OF ANY SOFTWARE DEVELOPER THAT YOU CONTACT USING THE SITE OR INFORMATION ON THE SITE. WE DISCLAIM ALL LIABILITY ARISING OUT OF OR RELATED TO THE ACTS OR OMISSIONS OF ANYONE WHO CONTACTS A SOFTWARE DEVELOPER USING THE SITE OR INFORMATION ON THE SITE. WE WILL NOT BE A PARTY TO ANY TRANSACTION OR AGREEMENT ENTERED INTO BETWEEN A SITE USER AND A SOFTWARE DEVELOPER.</p>
		<p>WE DO NOT REPRESENT, WARRANT OR GUARANTEE THAT THE SITE OR EMAILS SENT TO YOU WILL BE UNINTERRUPTED, ERROR-FREE, SECURE, FREE OF VIRUSES OR OTHER HARMFUL CODE, OR THAT ALL INFORMATION WILL BE ACCURATE OR COMPLETE. YOU ARE RESPONSIBLE FOR IMPLEMENTING SUFFICIENT PROCEDURES TO SATISFY YOUR PARTICULAR REQUIREMENTS FOR THE SAFETY OF YOUR PERSONAL INFORMATION, ANTI-VIRUS PROTECTION AND ACCURACY OF DATA INPUT AND OUTPUT. WE WILL NOT BE LIABLE FOR ANY LOSS OR DAMAGE CAUSED BY VIRUSES OR OTHER TECHNOLOGICALLY HARMFUL MATERIAL THAT MAY INFECT YOUR DEVICE, COMPUTER PROGRAMS, DATA OR OTHER PROPRIETARY MATERIAL DUE TO YOUR USE OF THE SITE OR YOUR DOWNLOADING OF ANY MATERIAL POSTED ON IT.</p>
		<p>WE WILL NOT BE RESPONSIBLE FOR ANY THIRD-PARTY CONTENT OR SERVICES ON THE SITE, ANY LINKS TO THIRD-PARTY WEBSITES OR ANY THIRD-PARTY WEBSITES (FOR CLARITY, A SOFTWARE DEVELOPER'S WEBSITE IS A THIRD-PARTY WEBSITE).  ADDITIONALLY, WE WILL NOT BE LIABLE FOR ANY OUTAGES, VERSION CHANGES, DELIVERY DELAYS, FAILURES, BUGS, OR TERMINATION OF ANY THIRD-PARTY TELECOMMUNICATIONS OR NETWORK SERVICE. THIRD-PARTY TELECOMMUNICATIONS AND NETWORK PROVIDERS HAVE THEIR OWN TERMS OF USE AND PRIVACY POLICIES, AND YOU MUST COMPLY WITH ANY TERMS OF USE PROVIDED BY SUCH THIRD PARTY.</p>
		<p>YOU AGREE THAT YOUR USE OF THE SITE SHALL BE AT YOUR SOLE RISK. WYD MAKES ALL DISCLAIMERS IN THIS SECTION 10 ON BEHALF OF ITSELF AND ITS LICENSORS.</p>
		<p>Some jurisdictions do not allow the exclusion or limitation of implied warranties or liability, so the aforementioned limitations may not apply to you.</p>
	</div>

	<div class="sec">
		<h2>11. Limitation of Liability</h2>
		<p>IN NO EVENT WILL WE, OUR AFFILIATE OR OUR LICENSOR, OR OUR OR ITS OWNER, MEMBER, MANAGER, DIRECTOR, OFFICER, EMPLOYEE, CONTRACTOR OR AGENT (COLLECTIVELY, &quot;WYD PARTIES&quot;), BE LIABLE FOR ANY INDIRECT, INCIDENTAL, CONSEQUENTIAL, SPECIAL OR PUNITIVE DAMAGES IN ANY WAY ARISING FROM OR RELATED TO THE SITE, THESE TERMS, WEBSITES LINKED TO OR FROM THE SITE, OR THE ACTS OR OMISSIONS OF ANY SOFTWARE DEVELOPER ON OR USER OF THE SITE, INCLUDING DEATH, PERSONAL INJURY, PAIN AND SUFFERING, EMOTIONAL DISTRESS, LOSS OF REVENUE, LOSS OF PROFITS, LOSS OF BUSINESS OR ANTICIPATED SAVINGS, LOSS OF USE, LOSS OF GOODWILL OR LOSS OF DATA, AND WHETHER CAUSED BY TORT (INCLUDING NEGLIGENCE), BREACH OF CONTRACT OR ANY OTHER LEGAL THEORY. IN NO EVENT WILL ANY WYD PARTY'S MAXIMUM AGGREGATE LIABILITY ARISING FROM OR RELATED TO THE SITE, THESE TERMS, WEBSITES LINKED TO OR FROM THE SITE, OR THE ACTS OR OMISSIONS OF ANY SOFTWARE DEVELOPER ON OR USER OF THE SITE EXCEED $100.</p>
		<p>THE FOREGOING LIMITATIONS WILL APPLY EVEN IF THE DAMAGES OR LIABILITY WAS FORESEEABLE, EVEN IF THE WYD PARTY WAS INFORMED OF THE POSSIBILITY OF SUCH DAMAGES AND EVEN IF YOUR REMEDY FAILS OF ITS ESSENTIAL PURPOSE.</p>
		<p>Some jurisdictions do not allow the exclusion or limitation of liability, so the aforementioned limitations may not apply to you.</p>
	</div>

	<div class="sec">
		<h2>12.	Third-party Information, Websites and Services</h2>
		<p><span class="tos-subsec-number">12.1</span><span class="tos-subsec-title">Third-party Information and Websites.</span> The Site may contain information and content provided by third parties. For example, we may allow a software developer to add content to this Site. We have no obligation to monitor, we do not endorse and we are not liable for any third-party content. In addition, the Site may contain links to third-party websites. We are not responsible for the content on any linked site or any link contained in a linked site. We do not endorse or accept any responsibility for the content on such third-party sites. We cannot guarantee the availability or performance of any such third-party sites. Such third-party sites may change their operations without notice to us. Third-party sites have their own terms of use and privacy policies, and you must comply with any terms of use provided by any third party.
		<p><span class="tos-subsec-number">12.2</span><span class="tos-subsec-title">Third-party Services.</span> Third parties may offer their services directly to you through the Site or information you submit on the Site. In such case, you may be required to agree to the third party's terms of use and privacy policy to use the service.  We will not be liable in any way for the acts or omissions of such third party, the terms of use or privacy policy of the third party or its failure to adhere to its terms of use or privacy policy, or any loss, damages, liability or expenses (including without limitation attorneys' fees) that you may incur arising from or related to such third party's services.</p>
	</div>

	<div class="sec">
		<h2>13.	User Obligations</h2>
		<p>By accessing the Site, you agree that:</p>
		<ol>
			<li>It is solely your responsibility to ensure that your use of the Site complies with all applicable laws, including privacy and confidentiality laws, and you agree to comply with such laws.</li>
			<li>It is solely your responsibility to ensure your use of the Site complies with all applicable professional responsibility and ethics rules, and you agree to comply with such rules.</li>
			<li>You assume all risks and all costs associated with your use of the Site, including any Internet access fees and back-up expenses.</li>
			<li>Solely you are responsible for the information and other content you submit to or through the Site. Your content will not infringe anyone's privacy or intellectual property rights or contain false, misleading or defamatory information.</li>
			<li>We may contact you for reasons related to your use of our Site. You will cooperate with us by timely responding to our reasonable inquiries related to the Site.</li>
			<li>You will treat all Site users and administrators respectfully, online and offline.</li>
			<li>We may withdraw or change our Site in any way we deem appropriate without prior notice to you. We will not be liable if for any reason all or any part of the Site is unavailable at any time or for any period.</li>
		</ol>
	</div>

	<div class="sec">
		<h2>14.	Prohibited Conduct</h2>
		<p>You agree that you will not:</p>
		<ol>
			<li>Reverse engineer, disassemble or decompile any part of our Site, except and only to the extent that applicable law expressly permits doing so.</li>
			<li>Distribute, reproduce, publicly display, create derivative works of, modify or translate any part of the Site.</li>
			<li>Use the Site commercially (for example as a service bureau).</li>
			<li>Use the Site for any illegal purpose, upload, post, link to, copy or republish copyrighted material without permission from the rights holder.</li>
			<li>Use the Site to defraud, stalk, defame, bully, threaten or intimidate anyone.</li>
			<li>Take any action that imposes, or may impose, in our sole discretion, an unreasonable or disproportionately large load on our infrastructure.</li>
			<li>Impersonate any person, entity or organization.</li>
			<li>Transmit, or procure the sending of, any advertising or promotional material and unsolicited communication (spam) without our prior written consent.</li>
			<li>Access the Site to benchmark the Site or build a competing service.</li>
			<li>Introduce any viruses or other harmful material or use any device, software or routine that interferes with the proper working of the Site.</li>
			<li>Attempt to gain unauthorized access to, interfere with, damage or disrupt any part of the Site.</li>
			<li>Scrape or mine information from the Site.</li>
			<li>Remove or alter any copyright, trademark, or other proprietary notice contained on the Site.</li>
			<li>Otherwise attempt to interfere with the proper working of the Site or anyone's use and enjoyment of it.</li>
			<li>Assist or encourage any third party in engaging in any activity restricted by these Terms.</li>
		</ol>
	</div>

	<div class="sec">
		<h2>15.	Indemnification</h2>
		<p>You agree to defend, indemnify and hold harmless WYD and its affiliates and licensors, and its and their owners, members, managers, directors, officers, employees, contractors and agents (the &quot;Indemnified Parties&quot;) from and against any and all claims, damages, losses, liabilities and expenses (including attorneys' fees) incurred in connection with any third-party claim brought or asserted against any of the Indemnified Parties: (a) alleging facts or circumstances that would, if true, constitute a violation of (i) any provision of these Terms by you, (ii) an applicable law by you, or (iii) any third party's rights by you; (b) arising from, related to or connected with your use or misuse of the Site; (c) arising from, related to or connected your acts or omissions when you interact with someone who you contact (such as a software developer) or who contacted you (such as recruiter) using the Site; or (d) arising from, related to or connected with a WYD Party's use of your Submission, including without limitation claims of infringement, misappropriation or violation of any intellectual property rights, rights of privacy, rights of publicity, moral rights or other rights. We may, in our sole and absolute discretion, control the disposition of any such claim at your sole cost and expense. You will not settle any such claim without our express written consent.</p>
	</div>

	<div class="sec">
		<h2>16.	Monitoring and Enforcement</h2>
		<p>We have the right to take any action that we deem necessary or appropriate if we believe that a user violates these Terms, infringes any intellectual property right or other right, or threatens the personal safety of users of the Site or software developers on the site. We may:</p>
		<ol>
			<li>Cooperate with any law enforcement authorities or court order requesting or directing us to disclose the identity of anyone posting any materials on or through the Site or those materials.</li>
			<li>Disclose your identity to any third party who claims that material posted by you violates such third party's rights, including intellectual property or privacy rights.</li>
			<li>Terminate or suspend your access to all or part of the Site for any or no reason, including without limitation any violation of these Terms.</li>
			<li>Take appropriate legal action.</li>
		</ol>
	</div>

	<div class="sec">
		<h2>17.	Term and Termination</h2>
		<p>These Terms are effective unless and until terminated by you or us. We may modify or terminate your access to the Site at any time, for any or no reason, and without notice or liability to you. If we terminate your right to access the Site, these Terms will terminate and all rights you have to access the Site will immediately terminate. The following Sections will survive termination: 3.1, 3.3, 4, 5, 6, 7, 8, 9, 10, 14, 15, 16 and 17.</p>
	</div>

	<div class="sec">
		<h2>18.	Linking to the Site</h2>
		<p>You may link to our Site in a way that is legal, fair and does not damage our reputation or take advantage of it, but you must not establish a link in such a way as to suggest any form of association, approval or endorsement on our part where none exists. You must not establish a link from any website that is not owned by you. You agree to cooperate with us in causing any unauthorized framing or linking to cease immediately. We reserve the right to withdraw linking permission without notice and without liability.</p>
	</div>

	<div class="sec">
		<h2>19.	Submissions</h2>
		<p>We will not have any obligation to hold in confidence any ideas, questions, reviews, comments, suggestions or feedback (collectively, &quot;Submissions&quot;) that you provide to us. You grant us a non-exclusive, royalty-free, perpetual, irrevocable, sublicensable and transferable license and right (but not the obligation) to use, reproduce, distribute, display, publish, perform, sell, lease, transmit, prepare derivative works (such as adaptations and translations) of, modify, reverse-engineer and disassemble such Submissions, and all derivative works thereof, throughout the universe by any means and in any form and for any purposes, all whether now know or hereafter devised. You irrevocably waive and agree not to assert any rights that you have to prevent us from exploiting the rights granted above. You represent and warrant that you own or otherwise control all of the rights to the Submissions that you provide to us and that use of the Submissions by us will not infringe or violate the rights of any third party.</p>
	</div>

	<div class="sec">
		<h2>Disputes</h2>
		<p><span class="tos-subsec-number">20.1</span><span class="tos-subsec-title">Informal Resolution.</span> If you have any dispute with WYD, you agree that before taking any formal action, you will contact WYD at legal@ranktt.com, provide a brief, written description of the dispute and your contact information, and allow 60 days to pass, during which the parties will attempt to reach an amicable resolution of any issue.</p>
		<p><span class="tos-subsec-number">20.2</span><span class="tos-subsec-title">Arbitration.</span> These Terms and each of its parts evidence a transaction involving interstate commerce, and the United States Arbitration Act applies in all cases and governs the interpretation and enforcement of the arbitration rules and arbitration proceedings.  Any claims arising out of, relating to or connected with these Terms must be asserted individually in binding arbitration administered by the American Arbitration Association (&quot;AAA&quot;) in accordance with its Commercial Arbitration Terms and the AAA Supplementary Procedures for Consumer-Related Disputes (including the use of desk, phone or video conference proceedings where appropriate and permitted to mitigate costs of travel). One arbitrator will conduct the arbitration. The arbitrator will not conduct any form of class or collective arbitration nor join or consolidate claims by or for individuals.  The arbitrator, and not any federal, state or local court or agency, will have exclusive authority to resolve any dispute relating to the interpretation, applicability, enforceability or formation of these Terms, including any claim that all or any part of these Terms is void or voidable or a particular claim is subject to arbitration.  Judgment on the award rendered by the arbitrator may be entered in any court of competent jurisdiction.  There are only two exceptions to this arbitration agreement:</p>
		<ul class="legal-selfnumbered">
			<li>a. First, if WYD reasonably believes that you have in any manner violated or threatened to violate these Terms, WYD may seek injunctive or other appropriate relief in any court of competent jurisdiction. You understand and agree that your breach of these Terms will cause WYD irreparable harm for which recovery of money damages would be impracticable to ascertain and inadequate, and that WYD will therefore be entitled to obtain timely injunctive relief, without the need to post a bond or prove actual monetary damages, to protect WYD's rights under these Terms in addition to any and all remedies available at law.</li>
			<li>b. Second, any claim of $1,000 or less may, at the option of the claiming party, be resolved in small claims court in Los Angeles, California, if the claim and the parties are within the jurisdiction of the small claims court.</li>
		</ul>
		<p><span class="tos-subsec-number">20.3</span><span class="tos-subsec-title">WAIVER OF COURT TRIAL AND CLASS ACTION RIGHTS.</span>  BY AGREEING TO THESE TERMS, YOU HEREBY IRREVOCABLY WAIVE ANY RIGHT YOU MAY HAVE TO A COURT TRIAL (OTHER THAN SMALL CLAIMS COURT AS PROVIDED ABOVE) OR TO SERVE AS A REPRESENTATIVE, AS A PRIVATE ATTORNEY GENERAL OR IN ANY OTHER REPRESENTATIVE CAPACITY, OR TO PARTICIPATE AS A MEMBER OF A CLASS OF CLAIMANTS IN ANY LAWSUIT, ARBITRATION OR OTHER PROCEEDING FILED AGAINST WYD OR ANY OTHER WYD PARTY.</p>
		<p><span class="tos-subsec-number">20.4</span><span class="tos-subsec-title">LIMITATION ON TIME TO FILE CLAIMS.</span>  REGARDLESS OF ANY LAW TO THE CONTRARY, ANY CLAIM OR CAUSE OF ACTION BY YOU ARISING OUT OF OR RELATED TO YOUR USE OF THE SITE OR THESE TERMS MUST BE FILED WITHIN ONE YEAR AFTER SUCH CLAIM OR CAUSE OF ACTION ARISES OR IT WILL BE FOREVER BARRED.</p>
	</div>

	<div class="sec">
		<h2>21.	Copyright Infringement Claims</h2>
		<p>We may remove, suspend, terminate access or take other appropriate action against repeat offenders. We may also remove content that, in our sole discretion, appears to infringe the intellectual property rights of others. If you have evidence, know or have a good faith belief that content on or available through the Site infringes a copyright which you own or for which you are a designated agent, please send a notice to us in accordance with the <a href="/copyright-infringement">Copyright Infringement Claims Procedures</a>.</p>
	</div>

	<div class="sec">
		<h2>22.	General</h2>
		<p><span class="tos-subsec-number">22.1</span><span class="tos-subsec-title">Assignment.</span> You will not assign any of your rights or delegate any of your obligations in these Terms without our prior written consent. We may assign, delegate or subcontract our rights, interests or obligations under these Terms, at our sole discretion, without obtaining your consent. These Terms bind and inure to the benefit of each party and the party's successors and permitted assigns.</p>
		<p><span class="tos-subsec-number">22.2</span><span class="tos-subsec-title">Relationship of the Parties.</span> You and WYD are independently contracting parties. No agency, partnership, joint venture, employment relationship is intended or created by these Terms. Neither party shall have any authority to act for, bind, make any representations or warranties, or assume any obligation or responsibility, express or implied, on behalf of the other party, except as specifically authorized under these Terms or by written direction of the other party.</p>
		<p><span class="tos-subsec-number">22.3</span><span class="tos-subsec-title">Use Outside of United States of America.</span> The Site is controlled and offered from the United States of America. We make no representation that the Site is appropriate for use in other locations.  Those who access or use the Site from other locations do so at their own risk and are responsible for compliance with local law.  You consent to the processing in the United States of America of data you provide to us.</p>
		<p><span class="tos-subsec-number">22.4</span><span class="tos-subsec-title">Third-party Beneficiaries.</span> Except for the rights expressly stated in these Terms, these Terms do not create any third-party beneficiary rights.</p>
		<p><span class="tos-subsec-number">22.5</span><span class="tos-subsec-title">Governing Law.</span> You agree that these Terms and any legal matter that may arise between you and us relating to the Site shall be governed by the laws of the State of California, without regard to any conflict of law principles that would result in application of any other law.</p>
		<p><span class="tos-subsec-number">22.6</span><span class="tos-subsec-title">Severability.</span> If a court of competent jurisdiction declares any provision of these Terms to be invalid, illegal or unenforceable, the validity, legality and enforceability of the remaining provisions will not be affected or impaired, and the provision that is held to be invalid, illegal or unenforceable will be reformed to the nearest valid, legal and enforceable provision that comports with the parties' intent (or severed from these Terms if that is impermissible).</p>
		<p><span class="tos-subsec-number">22.7</span><span class="tos-subsec-title">Waiver.</span> Failure to enforce these Terms will not constitute a waiver of a right or remedy in these Terms. A waiver will not bind a party unless made in writing.</p>
		<p><span class="tos-subsec-number">22.8</span><span class="tos-subsec-title">Entire Agreement.</span> These Terms constitute the entire agreement between you and WYD and supersede any and all prior agreements between you and WYD on the subject matter of these Terms. These Terms cannot be modified by an oral statement, or any written comment in a chat forum or other informal written communication, by a representative of WYD or any third party. You agree that any agreements made by and between you and us in electronic form are as legally binding as if made in physical written form.</p>
		<p><span class="tos-subsec-number">22.9</span><span class="tos-subsec-title">Construction.</span> These Terms will not be construed against the drafter. The terms &quot;including&quot;, &quot;includes&quot; or &quot;include&quot; will be deemed to be followed by &quot;without limitation&quot;, unless expressly stated otherwise in a particular instance. All amounts in these Terms are in U.S. dollars.</p>
		<p><span class="tos-subsec-number">22.10</span><span class="tos-subsec-title">Force Majeure.</span> Under no circumstances will WYD be held liable for any delay or failure in performance resulting directly or indirectly from an event beyond its reasonable control.</p>
		<p><span class="tos-subsec-number">22.11</span><span class="tos-subsec-title">Contacting You.</span> We may deliver notice to you by e-mail, posting a notice on the Site or any other method we choose, and such notice will be effective when sent or posted.</p>
		<p><span class="tos-subsec-number">22.12</span><span class="tos-subsec-title">Contacting Us.</span> Please direct your questions, comments, feedback, requests for technical support and other communications relating to the Site to our customer service representative at support@ranktt.com. Please send any questions or comments regarding these Terms to legal@ranktt.com. If you give notice to us, it will be effective when received and you must use the appropriate email address above or the following physical address:</p>
		<address>
			WYD Agency, LLC<br />
			1318 16th St, #205<br />
			Santa Monica, CA 90404<br />
			USA<br />
		</address>
	</div>

</div>
