<div class="results-contact-inlay"><div class="results-contact-inlay-wrap">
	<div class="results-contact-inlay-prompt">Say Hello to {{candidateName}}</div>
	<div class="results-contact-inlay-opts columns">
		<div class="column small-12 medium-6">
			{{> custom-dropdown purposeOpts name="purpose"}}
		</div>
		<div class="column small-12 medium-6">
			<input class="input01" type="text" name="email" placeholder="Your Email" />
		</div>
	</div>
	<div class="results-contact-inlay-msg">
		<input class="input01" type="text" name="msg_subject" placeholder="Subject" />
		<textarea class="input01" type="text" name="msg_body" placeholder="Message"></textarea>
	</div>
	<div class="results-contact-inlay-actions">
		<a class="results-contact-inlay-action results-contact-inlay-action-submit btn02" href="#">Send</a>
	</div>
</div></div>