
/*--------------------------------

  base

----------------------------------*/

html, body {
  width: 100%;
}
div.clear {
  clear: both;
  width: auto;
  height: 0;
  overflow: hidden;
}
input::-webkit-input-placeholder {color:#999; font-style:italic; text-transform:none !important;}
input:-moz-placeholder {color:#999; font-style:italic; text-transform:none !important;}
input::-moz-placeholder {color:#999; font-style:italic; text-transform:none !important;}
input:-ms-input-placeholder {color:#999; font-style:italic; text-transform:none !important;}

// Wrap normal pages like: <div class="main-content columns">[content]<div class="clear">&nbsp;</div></div>
.main-content {
	max-width: $contentMaxWidth;
	margin: 0 auto;
	float: none;

	// default whitespace for footer, meant to be overridden when appropriate
	margin-bottom: $whitespaceVertical1;

	.main-2col-left {
		padding-right: 0.9375rem;
	}
	.main-2col-right {
		float: right;
	}

	img.SAMPLE-sidebar-content {
		margin-bottom: 5vh;
	}

	@media #{$small-only} {
		img.SAMPLE-sidebar-content {
			width: 48%;
			margin: 0 0.8% 2.4% 0.8%;
		}
		// give some vertical whitespace to sidebar that just became main content
		.main-2col-right {
			margin-top: $whitespaceVertical2;
		}
	}

	@media (max-width: 548px) {
		img.SAMPLE-sidebar-content {
			margin: 0 0.6% 2.4% 0.6%;
		}
	}

}

a.visible-link {
	text-decoration: underline;
}

a.btn01 {
	display: block;
	font-size: 12px;
	letter-spacing: 0.1em;
	color: #000;
	text-transform: uppercase;
	text-align: center;
	padding: 0.8em 2.4em;
	border: 1px solid #000;
	margin: 0 0 0.5em 0;
}
a.btn01:hover {
	background-color: rgba(0,0,0,0.1);
	//background-color: $linkColor;
	//color: #fff;
}
a.btn02 {
	display: block;
	font-size: 12px;
	letter-spacing: 0.1em;
	color: #fff;
	text-transform: uppercase;
	text-align: center;
	background: #465a6d;
	padding: 0.8em 2.4em;
	border: 1px solid #465a6d;
	margin: 0 0 0.5em 0;
}
a.btn02:hover {
	// @todo
}
.input01, input.input01 {
	display: inline-block;
	background: #fff;
	border: 1px solid #ccc;
	min-width: 14em;
	font-size: 16px;
	line-height: 1.3;
	margin-bottom: 0.35em; // attempt to match 1.5 line-height
}
.input01.has-error {
	//background-color: #ffe5e5;
	background-color: #fcc;
}
.input01::-webkit-input-placeholder { font-style: normal; color: inherit; }
.input01:-moz-placeholder { font-style: normal; color: inherit; }
.input01::-moz-placeholder { font-style: normal; color: inherit; }
.input01:-ms-input-placeholder { font-style: normal; color: inherit; }
.input01::placeholder { font-style: normal; color: inherit; }
input.input01, select.input01 {
	padding: 0 0 0 0.8em;
	height: 2.8em;
}
textarea.input01 {
	padding: 0.8em;
	height: 11.2em;
}

