.hero {
	h1,h2,h3,p {
		margin: 0;
		padding: 0;
	}
	padding-bottom: $whitespaceVertical1;
	border-bottom: 1px solid #bfbfbf;
	margin-bottom: $whitespaceVertical1;
	text-align: center;
}
.hero-bg {
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
	background-image: url(/images/header-bg-01-full-50.jpg);
	padding: #{$whitespaceVertical2 * 3} 0;
	position: relative;
}
.hero-content {
	display: inline-block;
	min-width: 408px;
	max-width: 90%;
	background: #fff;
	padding: #{$whitespaceVertical1 * 2};
}
.hero-title0 {
	@extend .font-main-light;
	white-space: nowrap;
	text-transform: uppercase;
	font-size: 18px;
	line-height: 1.5;
}
.hero-title1 {
	@extend .font-main-medium;
	white-space: nowrap;
	text-transform: none;
	font-size: 36px;
	line-height: 1.5;
}
.hero-subtitle {
	@extend .font-main-regular;
	white-space: nowrap;
	text-transform: none;
	font-size: 14px;
	line-height: 1.5;
}
@media #{$small-only} {
	.hero-content {
		min-width: 0;
	}
	.hero-title0 {
		font-size: 16px;
	}
	.hero-title1 {
		font-size: 28px;
	}
	.hero-subtitle {
		font-size: 14px;
	}
}