.main-header {
	margin: 0 auto;
	max-width: $headerMaxWidth;
	padding-top: $whitespaceVertical1;
	padding-bottom: #{$whitespaceVertical1 - 2};
	float: none;
	border-bottom: 1px solid #bfbfbf;
}
.main-header-title {
	@extend .font-roboto-medium;
	font-size: 34px;
	letter-spacing: 0.05em;
	line-height: 1;
	text-transform: uppercase;

	&,a,a:hover {
		color: #000;
	}

	h1,h2 {
		display: inline;
		margin: 0;
		padding: 0;
		line-height: inherit;
		font-weight: inherit;
		font-size: inherit;
		text-transform: inherit;
	}
}
.main-header-subtitle {
	@extend .font-roboto-light;
	margin-left: 16px;
	font-size: 18px;
	display: inline;
	text-transform: none;
	vertical-align: baseline;
}

// --- Nav
.main-header {
	.nav {
		float: right;
		padding-top: $whitespaceVertical1;

		ul,li {
			margin: 0;
			padding: 0;
		}
		li {
			list-style-type: none;
			display: inline-block;
		}
	}

	li.nav-item {
		margin-left: 1em;
		text-transform: uppercase;
		font-size: 16px;
		a {

		}
	}
}

