.main-header {
	margin: 0 auto;
	max-width: $headerMaxWidth;
	padding-top: $whitespaceVertical2;
	padding-bottom: #{$whitespaceVertical2 - 1};
	float: none;
	border-bottom: 1px solid #bfbfbf;
}
.main-header-title {
	@extend .font-main-medium;
	font-size: 36px;
	letter-spacing: 0.05em;
	line-height: 1;
	text-transform: uppercase;
	white-space: nowrap;

	&,a,a:hover {
		color: #000;
	}

	h1,h2 {
		display: inline;
		margin: 0;
		padding: 0;
		line-height: inherit;
		font-weight: inherit;
		font-size: inherit;
		text-transform: inherit;
	}

	// BEGIN "beta"
	h1::after {
		content: 'beta';
		font-size: 0.3em;
		vertical-align: top;
		position: relative;
		left: 0.1em;
		color: #666;
		letter-spacing: 0.07em;
	}
	// END "beta"
}
.main-header-subtitle {
	@extend .font-main-light;
	margin-left: 16px;
	font-size: 18px;
	display: inline;
	text-transform: none;
	vertical-align: baseline;
}
@media (max-width: 470px) {
	.main-header-title {
	}
	.main-header-subtitle {
		display: block;
		margin-left: 0;
		font-size: 19px; // attempt to justify with parent
	}
}


// --- Nav
.main-header {
	.nav {
		float: right;
		padding-top: $whitespaceVertical1;

		ul,li {
			margin: 0;
			padding: 0;
		}
		li {
			list-style-type: none;
			display: inline-block;
		}
	}

	li.nav-item {
		margin-left: 1em;
		text-transform: uppercase;
		font-size: 16px;
		a {

		}
	}

	// --- Menued Nav
	.nav-toggle {
		display: block;
		width: 44px;
		height: 40px;
		background: url(/images/nav-menu-icon01.png) no-repeat center center;
		float: right;
	}
	.nav-toggle-target.toggled-on {
		display: block !important; // important to beat foundation
		overflow: visible;
		position: relative;
		z-index: 1;

		.nav {
			@include box-shadow(0px 1px 2px 1px #ccc);
			position: absolute;
			right: -1.875rem; // .columns padding
			top: 0;
			margin: 0;
			padding: 0;
			width: 80vw;
			max-width: 200px;
			background: #fff;
			border: 1px solid #bfbfbf;
			border-bottom: none;

			// fixed format...
			@include box-shadow(none);
			position: fixed;
			right: 0;
			top: 0;
			height: 100%;
			background: #f0f0f0;
		}
		li.nav-item {
			display: block;
			width: auto;
			margin: 0;
			padding: 0;
			border-bottom: 1px solid #bfbfbf;
			a {
				display: block;
				padding: 0.4em;
				background: #f0f0f0;
			}
			a:hover {
				background: #e8e8e8;
			}
		}
	}
}

