.page-rubric {
	.hero-bg {
		background-image: url(/images/header-bg-02-full-50.jpg);
		background-position: top center;
	}
	.main-content {
		.main-2col-left {
			padding-top: $whitespaceVertical1;
		}
		h2 {
			text-transform: none;
		}
		.content-sec {
			margin-bottom: #{$whitespaceVertical2 * 2};
		}
	}
}