.page-rubric {
	.hero-bg {
		background-image: url(/images/header-bg-03-cropped-50.jpg);
		background-position: top center;
	}
	.main-content {
		.main-2col-left {
			padding-top: $whitespaceVertical1;
		}
		h2 {
			text-transform: none;
		}
		.content-sec {
			margin-bottom: #{$whitespaceVertical2 * 2};
		}
	}

	@media (min-width: $contentMaxWidth) { // so when the page stops expanding, the text stops getting bigger
		.rubric-infographic-factor-weight-pretitle {
			font-size: 19px;
		}
		.rubric-infographic-factor-weight-value {
			font-size: 50px;
		}
		.rubric-infographic-factor-desc-name {
			font-size: 17px;
		}
		.rubric-infographic-factor-desc-details {
			font-size: 13px;
		}
	}

}