.promo-top {
	@extend .font-roboto-light;
	background: #465a6d;
	color: #fff;
	font-size: 18px;
	letter-spacing: 0.08em;
	text-transform: uppercase;
	text-align: center;
}
.promo-top-content {
	// @todo: multiline center worth it?
	padding: 12px 0;
}