.promo-top {
	background: #465a6d;
	height: 54px;
	color: #fff;
	font-size: 18px;
	letter-spacing: 0.08em;
	text-transform: uppercase;
	text-align: center;
}
.promo-top-content {
	// @todo: multiline center worth it?
	padding-top: 12px;
}