.promo-top {
	@extend .font-main-light;
	background: #465a6d;
	color: #fff;
	font-size: 18px;
	letter-spacing: 0.08em;
	text-transform: uppercase;
	text-align: center;

	a, a:hover {
		text-decoration: none;
		color: #fff;
	}
}
.promo-top-content {
	// @todo: multiline center worth it?
	padding: $whitespaceVertical1 $whitespaceVertical2;
}
@media #{$small-only} {
	.promo-top {
		font-size: 14px;
	}
}