<!doctype html>
<!--[if IE 9]> <html class="ie ie9 lte9"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <html> <!--<![endif]-->
<head>
{{!-- {{> head }} --}}
</head>
<body class='page-{{ page }} {{ bodyClasses }}'>
	{{!-- {{> scripts-btop }} --}}
	<main class="main" id="main">{{{ mainContent }}}</main>
	{{!-- {{> scripts }} --}}
</body>
</html>