<!doctype html>
<!--[if IE 9]> <html class="ie ie9 lte9"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <html> <!--<![endif]-->
<head>
{{> head }}
</head>
<body class='page-{{ page }} {{ bodyClasses }}'>
	{{> scripts-btop }}

	{{> promo-top}}
	<header id="header">{{>main-header}}</header>

	<main id="main">{{{ mainContent }}}</main>

	<footer id="footer">{{>main-footer}}</footer>

	{{> scripts }}
</body>
</html>